html {
   font-family: 'Roboto', sans-serif;
}

#login-page {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-image: url('../../assets/icon_mulher.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-position-x: calc(250px + 55%);
}

#notification {
   height: 6vh;
   width: calc(200px + 10%);
   display: none;
   flex-direction: row;
   position: absolute;
   top: 2vh;
   left: 2vw;
   animation: swipeon 250ms both;
   opacity: 85%;
}

#textbox {
   width: 87%;
   display: flex;
   font-size: 14px;
   align-items: center;
   justify-content: center;
   /* Green 3 */
   background: var(--color-primary);
   border-radius: 10px 0px 0px 10px;
}

#xbox {
   width: 13%;
   background: var(--color-primary-darker);
   border-radius: 0px 10px 10px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#wrapper {
   width: calc(10% + 300px);
   max-width: 400px;
}

#logo {
   margin: 2vh 0;
   text-align: center;
}

#logo img {
   height: 4vh;
}

.form {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   /* Gray 6 */
   background: var(--color-background);
   box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

#form-login {
   display: flex;
   height: 38vh;
}

#form-register {
   display: none;
   height: 55vh;
   animation: transition 150ms;
}

.form input {
   padding: 0 10px;
   width: 80%;
   margin: 1vh 0;
   height: 6vh;
   background: var(--color-white);
   border-radius: 10px;
   border: none;
   outline: none;
}

.button {
   background: var(--color-primary);
   border-radius: 10px;
   border: none;
   outline-color: #999999;
   width: calc(80% + 20px);
   margin: 2vh 0 1.5vh;
   height: 6vh;
}

.holder {
   text-align: center;
}

.holder span {
   color: var(--color-text-primary);
   font-size: 14px;
}

.holder a {
   color: var(--color-secondary);
   text-decoration: none;
   font-size: 1.43rem;
}

#notificationtext {
   font-size: 1.43rem;
}

/* -------- ANIMAÇÕES -------- */

@keyframes transition {
   from {
      height: 38vh;
   }
   to {
      height: 55vh;
   }
}

@keyframes swipeon {
   from {
      position: absolute;
      left: -300px;
   }
   to {
      position: absolute;
      left: 2vw;
   }
}